<!-- <%= @articles.inspect %> -->

<% @articles.each do | article | %>
	<h2> <%= link_to article.tittle, article %></h2>
	<p>
		<%= article.body %> - <%= link_to "Eliminar", article, method: :delete, class: "red" %>
	</p>
<%end%>